<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>http://localhost:4000/</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>https://127.0.0.1:4000/</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>NunitoSans-Regular.ttf</string>
		<string>NunitoSans-SemiBold.ttf</string>
		<string>NunitoSans-Bold.ttf</string>
		<string>NunitoSans-Italic.ttf</string>
		<string>SFUIText-Regular.ttf</string>
		<string>SFUIText-Medium.ttf</string>
		<string>SFUIText-Bold.ttf</string>
		<string>SFUIText-RegularItalic.ttf</string>
		<string>PlayfairDisplay-Regular.ttf</string>
		<string>PlayfairDisplay-SemiBold.ttf</string>
		<string>PlayfairDisplay-Bold.ttf</string>
		<string>PlayfairDisplay-Italic.ttf</string>
		<string>CenturyGothic-Regular.ttf</string>
		<string>CenturyGothic-Bold.ttf</string>
		<string>CenturyGothic-Italic.ttf</string>
		<string>Cinzel-Regular.ttf</string>
		<string>Cinzel-Medium.ttf</string>
		<string>Cinzel-Bold.ttf</string>
		<string>Cinzel-SemiBold.ttf</string>
		<string>Comfortaa-Regular.ttf</string>
		<string>Comfortaa-light.ttf</string>
		<string>Comfortaa-Bold.ttf</string>
		<string>Comfortaa-SemiBold.ttf</string>
		<string>CormorantGaramond-Regular.ttf</string>
		<string>CormorantGaramond-Italic.ttf</string>
		<string>CormorantGaramond-Bold.ttf</string>
		<string>CormorantGaramond-SemiBold.ttf</string>
		<string>Exo-Regular.ttf</string>
		<string>Exo-Bold.ttf</string>
		<string>Exo-SemiBold.ttf</string>
		<string>Jost-Regular.ttf</string>
		<string>Jost-Bold.ttf</string>
		<string>Jost-Italic.ttf</string>
		<string>Jost-SemiBold.ttf</string>
		<string>Exo-Italic.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Lato-Italic.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>NewYorkMedium-Regular.otf</string>
		<string>NewYorkMedium-Bold.otf</string>
		<string>NewYorkMedium-RegularItalic.otf</string>
		<string>NewYorkMedium-Semibold.otf</string>
		<string>Poppins-Bold.ttf</string>
		<string>Poppins-Italic.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>PTSans-Bold.ttf</string>
		<string>PTSans-Italic.ttf</string>
		<string>PTSans-Regular.ttf</string>
		<string>Raleway-Bold.ttf</string>
		<string>Raleway-Italic.ttf</string>
		<string>Raleway-Regular.ttf</string>
		<string>Raleway-SemiBold.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>SourceSansPro-Bold.ttf</string>
		<string>SourceSansPro-Italic.ttf</string>
		<string>SourceSansPro-Regular.ttf</string>
		<string>SourceSansPro-SemiBold.ttf</string>
		<string>Ubuntu-Bold.ttf</string>
		<string>Ubuntu-Italic.ttf</string>
		<string>Ubuntu-Regular.ttf</string>
		<string>Ubuntu-Medium.ttf</string>
		<string>TitilliumWeb-Bold.ttf</string>
		<string>TitilliumWeb-Italic.ttf</string>
		<string>TitilliumWeb-Regular.ttf</string>
		<string>TitilliumWeb-SemiBold.ttf</string>
		<string>Quicksand-Bold.ttf</string>
		<string>Quicksand-Regular.ttf</string>
		<string>Quicksand-SemiBold.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>Inconsolata-SemiBold.ttf</string>
		<string>Inconsolata-Bold.ttf</string>
		<string>Inconsolata-Regular.ttf</string>
		<string>Caveat-Bold.ttf</string>
		<string>Caveat-Regular.ttf</string>
		<string>Caveat-Medium.ttf</string>
		<string>Caveat-SemiBold.ttf</string>
		<string>RedHatDisplay-Bold.ttf</string>
		<string>RedHatDisplay-Italic.ttf</string>
		<string>RedHatDisplay-Regular.ttf</string>
		<string>RedHatDisplay-SemiBold.ttf</string>
		<string>Rubik-Bold.ttf</string>
		<string>Rubik-Italic.ttf</string>
		<string>Rubik-Regular.ttf</string>
		<string>Rubik-SemiBold.ttf</string>
		<string>Mulish-Bold.ttf</string>
		<string>Mulish-Italic.ttf</string>
		<string>Mulish-Regular.ttf</string>
		<string>Mulish-SemiBold.ttf</string>
		<string>AvenirNextLTPro-Bold.otf</string>
		<string>AvenirNextLTPro-Italic.otf</string>
		<string>AvenirNextLTPro-Regular.otf</string>
		<string>AvenirNextLTPro-SemiBold.otf</string>
		<string>Overpass-Bold.ttf</string>
		<string>Overpass-Italic.ttf</string>
		<string>Overpass-Regular.ttf</string>
		<string>Overpass-SemiBold.ttf</string>
		<string>WorkSans-Bold.ttf</string>
		<string>WorkSans-Italic.ttf</string>
		<string>WorkSans-Regular.ttf</string>
		<string>WorkSans-SemiBold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
</dict>
</plist>
